{
	"oauth2": {
		"client_id":"",
		"redirect_uri":"http://chopper.xio.se:8055",
		"client_secret":""
	},

	"fakeLogin": {
		"id": "",
		"email": "",
		"name": ""
	},

	"webServer": {
		"port":8055
	},

	"webSocket": {
		"url":"chopper.xio.se",
		"port":8055,
		"protocol":"chopper"
	}
}